/*==================================*/
/*Responsive code for Order Now Page*/
/*==================================*/
.wbdiv {
    width:528px;
    height:100%;
    margin: 0 auto;
}
.containersvg1{
    width:100%;
    height: 50%;
    margin: 0 auto;
}
.containersvg2{
    width:100%;
    height: 50%;
    margin: 0 auto;
}
#price-scroll{
    width:100%;
    overflow:auto;
    white-space:nowrap;
}
/*@media (max-width:736px) {*/

@media (max-width:1114px) {
    #add-clipart .button-box > div{
        margin-right: 0px !important;
        margin-left: 0px !important;
    }
}
@media (max-width:1110px) {
    .wbdiv {
        width:390px !important;
    }
}

@media (max-width:1046px) {
    #add-clipart .button-box > div{
        display: inline !important;
        float: left !important;
        margin-right: 0px !important;
        margin-left: 0px !important;
    }
    #add-clipart .button-box .alignright > a{
        padding-left: 5px !important;
        padding-top: 5px !important;
    }
    #add-clipart .button-box > span{
        width: 100% !important;
    }
    i.alert-notify.to-cart-error {
        left: 58px!important;
}

@media (min-width: 1025px) {
    #mod-footer0 {
        display: none!important;
    }
}

@media (max-width: 1024px) {
    #mod-footer0 {
        display: block!important;
    }
    #mod-footer1 {
        display: none!important;
    }
    #mod-footer2 {
        display: block;
        margin-top: 2em;
    }
    .fusion-column-content {
        width: 100%;
    }
    .paypal-img-holder {
        max-width: 200px;
        margin:auto;
    }
}

@media (max-width:800px) {
    #wristband-builder-content{
        margin-left: 10px !important;
        margin-right: 10px !important;
    }
    #style_field, #width_field{
        width: 50% !important;
        float: left !important;
        display: inline !important;
        border-style: solid;
        border-width: 10px;
        border-color: white;
    }
    #wbcolor > li{
        width: 25%;
        float: left;
    }
    #quantity_group_field > p{
        width: 30%;
        float: left;
        margin-right: 0%;
    }
    #quantity_group_field_button{
        width: 10% !important;
    }
/*    #additional-option-section > div{
        width: 25%;
    }*/
    #additional-option-section .each-message{
        position: static !important;
    }
    #add-clipart .button-box{
        width: 50% !important;
        float: left !important;
        border-style: solid;
        border-width: 10px;
        border-color: white;
    }
    #customization-section > p{
        width: 50% !important;
        float: left !important;
        border-style: solid;
        border-width: 10px;
        border-color: white;
    }
    #wristband-color-items{
        margin-left: 20% !important;
        margin-right: 20% !important;
    }
    i.alert-notify.to-cart-error {
        position: absolute!important;
        right: 0;
        background-color: #E22B2B;
        color: white;
        padding: 10px;
        left: auto !important;
        bottom: 100px;
    }
        /* #mod-footer1, #mod-footer2{
        width: 50%;
        padding-left: 5px !important;
        padding-right: 5px !important;
        float: left;
        display: inline;
    } */
}

/*@media (max-width: 768px) {
    .fusion-one-fourth {
        width: 50%;
    }
    .fusion-columns .fusion-column {
        width: 50%!important;
        float: left!important;
    }
}*/
@media (max-width: 768px) {
    .fusion-one-fourth {
        width: 50%;
    }
    .fusion-columns .fusion-column {
        width: 50%!important;
        float: left!important;
    }
    .fusion-column {
        margin-bottom: 10px!important;
    }
    .fusion-height-100 {
        height: 70px;
    }
}

@media (max-width:736px) {
       /* #mod-footer2{
        width: 100%;
        padding-top: 20px !important;
        padding-left: 5px !important;
        padding-right: 5px !important;
    } */
}
@media (max-width:525px) {
    .wbdiv{
        width:320px !important;
    }
    .TdTitleCss{
        width:30% !important;
    }
    #add-clipart .button-box > div{
        display: inline !important;
        float: left !important;
        margin-right: 0px !important;
        margin-left: 0px !important;
    }
    #add-clipart .button-box .alignright > a{
        padding-left: 5px !important;
        padding-top: 5px !important;
    }
    #add-clipart .button-box > span{
        width: 100% !important;
    }
    #wbcolor > li{
        font-size: 10px;
    }  

}

@media (max-width: 414px) {
    .fusion-height-100 {
        height: 90px;
    }
}
@media (max-width: 384px) {
    .fusion-columns .fusion-column {
        width: 100%!important;
        margin: auto!important;
        text-align: center;
    }
    ul.center-content li {
        float: none!important;
        margin-bottom: 1em;
        text-align: center;
        display: inline;
    }
    ul.center-content li:last-child {
        vertical-align: middle;
    }
}


@media (max-width:320px) {

    #additional-option-section .fusion-column-wrapper > span{
        font-size: 10px !important;
    }
    i.alert-notify.to-cart-error {
    position: relative!important;
    right: 35px!important;
    left: 123px!important;
    bottom: 0px!important
}

/*===============END================*/
/*Responsive code for Order Now Page*/
/*===============END================*/



/*
border-style: solid;
border-width: 5px;
border-color: green;
*/
.rr_rate_company_name{
    width: 100% !important;
}
#RR_Reviews_Widget{
    width: 100% !important;
}
#RR_Reviews_Widget_content{
    background-size: 100% 110% !important;
}
@media (max-width:736px) {
    #main{
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .button-xlarge{
        padding: 10px 10px;
    }
    #home-fusion-content-boxes .fusion-button-wrapper{
        display: none !important;
    }
    #promo-button-container{
        margin-top: -35px;
    }
    #home-rev-slider{
        margin-top: -35px;
    }
    #home-fusion-content-boxes img:hover{
        opacity: 0.7;
        cursor:pointer;
    }
    #home-fusion-content-boxes img{
        transition: all 0.5s linear;
        -webkit-transition: all 0.5s linear;
        -moz-transition: all 0.5s linear;
        -ms-transition: all 0.5s linear;
        -o-transition: all 0.5s linear;
    }
    #home-bracelets-desc{
        margin-left: 5px;
        margin-right: 5px;
    }
    #RR_Reviews_Widget_frame, .shopperapproved_widget{
        margin-left: 10px !important;
        margin-right: 10px !important;
    }
    .fusion-columns {
        text-align: left;
        float: left;
        margin: 0px 0px;
        display: inline;
    }
    #home-fusion-content-boxes .content-container{
        margin-top: -20px;
    }
    #home-fusion-content-boxes2 .content-container{
        margin-top: -30px;
    }
    .fusion-logo img {
        width: 300px;
        height: 60px;
    }
    .fusion-header .fusion-row{
        margin-top: -10px;
        margin-bottom: -25px;
    }

}
/*iPhone 6 Plus in landscape*/
@media only screen and (min-device-width : 414px) and (max-device-width : 736px) and (orientation : landscape) {
    #home-fusion-content-boxes > .col-sm-4 {
        width: 50% !important;
        float: left !important;
        display: inline !important;
    }
    #home-fusion-content-boxes > .fusion-clearfix{
        display: none;
    }

    #home-fusion-content-boxes2 .col-sm-4 {
        float: left !important;
        width: 33.3333% !important;
    }
    #home-fusion-content-boxes, #home-fusion-content-boxes2 {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
    #home-fusion-content-boxes .content-box-heading, #home-fusion-content-boxes .content-container > h2{
        font-size: 20px !important;
        line-height: 21px !important;
    }
    #home-fusion-content-boxes .content-container h2{
        font-size: 16px !important;
        line-height: 16px !important;
    }
}
/*iPhone 6 Plus in portrait*/
@media only screen and (min-device-width : 414px) and (max-device-width : 736px) and (orientation : portrait) {
    #home-fusion-content-boxes > .col-sm-4 {
        width: 50% !important;
        float: left !important;
        display: inline !important;
    }
    #home-fusion-content-boxes > .fusion-clearfix{
        display: none;
    }

    #home-fusion-content-boxes2 .col-sm-4 {
        float: left !important;
        width: 33.3333% !important;
    }
    #home-fusion-content-boxes, #home-fusion-content-boxes2 {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
    #home-fusion-content-boxes .content-box-heading, #home-fusion-content-boxes .content-container > h2{
        font-size: 20px !important;
        line-height: 21px !important;
    }
    #home-fusion-content-boxes .content-container{
        margin-top: -25px !important;
    }
    #home-bracelets-desc .heading > h2{
        font-size: 20px !important;
        line-height: 21px !important;
    }
}
/*iPhone 6 in landscape*/
@media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : landscape) {
    #home-fusion-content-boxes > .col-sm-4 {
        width: 50% !important;
        float: left !important;
        display: inline !important;
    }
    #home-fusion-content-boxes > .fusion-clearfix{
        display: none;
    }

    #home-fusion-content-boxes2 .col-sm-4 {
        float: left !important;
        width: 33.3333% !important;
    }
    #home-fusion-content-boxes, #home-fusion-content-boxes2 {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
}
/*iPhone 6 in portrait*/
@media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : portrait) {
    #home-fusion-content-boxes > .col-sm-4 {
        width: 50% !important;
        float: left !important;
        display: inline !important;
    }
    #home-fusion-content-boxes > .fusion-clearfix{
        display: none;
    }

    #home-fusion-content-boxes2 .col-sm-4 {
        float: left !important;
        width: 33.3333% !important;
    }
    #home-fusion-content-boxes, #home-fusion-content-boxes2 {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
    #home-bracelets-desc .heading > h2{
        font-size: 18px !important;
        line-height: 19px !important;
    }
}


/*iPhone 5 & 5S in landscape*/
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : landscape) {
    #home-fusion-content-boxes > .col-sm-4 {
        width: 50% !important;
        float: left !important;
        display: inline !important;
    }
    #home-fusion-content-boxes > .fusion-clearfix{
        display: none;
    }

    #home-fusion-content-boxes2 .col-sm-4 {
        float: left !important;
        width: 33.3333% !important;
    }
    #home-fusion-content-boxes, #home-fusion-content-boxes2 {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
    #home-bracelets-desc .heading > h2{
        font-size: 25px !important;
        line-height: 27px !important;
    }
}
/*iPhone 5 & 5S in portrait*/
@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : portrait) {
    #home-fusion-content-boxes > .col-sm-4 {
        width: 50% !important;
        float: left !important;
        display: inline !important;
    }
    #home-fusion-content-boxes > .fusion-clearfix{
        display: none;
    }

    #home-fusion-content-boxes2 .col-sm-4 {
        float: left !important;
        width: 33.3333% !important;
    }
    #home-fusion-content-boxes, #home-fusion-content-boxes2 {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
    /*Resize text menu*/
    #menu-top-menu{
        font-size: 10px !important;
    }
    .fusion-secondary-menu > ul > li > a{
        padding: 0px 8px !important;
    }
    #home-fusion-content-boxes .content-box-heading, #home-fusion-content-boxes .content-container > h2{
        font-size: 20px !important;
        line-height: 21px !important;
    }
    #home-fusion-content-boxes .content-container{
        margin-top: -25px !important;
    }
    #home-fusion-content-boxes2 .content-container > h2{
        font-size: 16px !important;
        line-height: 20px !important;
    }
    #home-bracelets-desc .heading > h2{
        font-size: 18px !important;
        line-height: 19px !important;
    }
}
/*iPhone 2G-4S in landscape*/
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) {
    #home-fusion-content-boxes > .col-sm-4 {
        width: 50% !important;
        float: left !important;
        display: inline !important;
    }
    #home-fusion-content-boxes > .fusion-clearfix{
        display: none;
    }

    #home-fusion-content-boxes2 .col-sm-4 {
        float: left !important;
        width: 33.3333% !important;
    }
    #home-fusion-content-boxes, #home-fusion-content-boxes2 {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
    #home-bracelets-desc .heading > h2{
        font-size: 22px !important;
        line-height: 23px !important;
    }
}
/*iPhone 2G-4S in portrait*/
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) {
    #home-fusion-content-boxes > .col-sm-4 {
        width: 50% !important;
        float: left !important;
        display: inline !important;
    }
    #home-fusion-content-boxes > .fusion-clearfix{
        display: none;
    }

    #home-fusion-content-boxes2 .col-sm-4 {
        float: left !important;
        width: 33.3333% !important;
    }
    #home-fusion-content-boxes, #home-fusion-content-boxes2 {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
    #home-fusion-content-boxes .content-box-heading, #home-fusion-content-boxes .content-container > h2{
        font-size: 16px !important;
        line-height: 17px !important;
    }
    #home-fusion-content-boxes .content-container{
        margin-top: -25px !important;
    }
    #home-bracelets-desc .heading > h2{
        font-size: 18px !important;
        line-height: 19px !important;
    }
}