@font-face {
    font-family: 'BadaBoomBBRegular';
    src: url('../fonts/badaboom.eot');
    src: url('../fonts/badaboom.eot?#iefix') format('embedded-opentype'),
         url('../fonts/badaboom.woff') format('woff'),
         url('../fonts/badaboom.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'AllstarRegular';
    src: url('../fonts/allstarresort.eot');
    src: url('../fonts/allstarresort.eot?#iefix') format('embedded-opentype'),
         url('../fonts/allstarresort.woff') format('woff'),
         url('../fonts/allstarresort.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'AlbertTextBold';
    src: url('../fonts/AlbertTextBold.eot');
    src: url('../fonts/AlbertTextBold.eot') format('embedded-opentype'),
         url('../fonts/AlbertTextBold.woff') format('woff'),
         url('../fonts/AlbertTextBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'AlbaRegular';
    src: url('../fonts/alba.eot');
    src: url('../fonts/alba.eot?#iefix') format('embedded-opentype'),
         url('../fonts/alba.woff') format('woff'),
         url('../fonts/alba.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Baron';
    src: url('../fonts/Baron.eot');
    src: url('../fonts/Baron.eot') format('embedded-opentype'),
         url('../fonts/Baron.woff') format('woff'),
         url('../fonts/Baron.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BeckasinRegular';
    src: url('../fonts/beckasin.eot');
    src: url('../fonts/beckasin.eot?#iefix') format('embedded-opentype'),
         url('../fonts/beckasin.woff') format('woff'),
         url('../fonts/beckasin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'BaveuseRegular';
    src: url('../fonts/baveuse.eot');
    src: url('../fonts/baveuse.eot?#iefix') format('embedded-opentype'),
         url('../fonts/baveuse.woff') format('woff'),
         url('../fonts/baveuse.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Bigmouth';
    src: url('../fonts/Bigmouth.eot');
    src: url('../fonts/Bigmouth.eot') format('embedded-opentype'),
         url('../fonts/Bigmouth.woff') format('woff'),
         url('../fonts/Bigmouth.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BlockHeadRegular';
    src: url('../fonts/blockhead.eot');
    src: url('../fonts/blockhead.eot?#iefix') format('embedded-opentype'),
         url('../fonts/blockhead.woff') format('woff'),
         url('../fonts/blockhead.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'BlockHeadFat';
    src: url('../fonts/blockhead_fat.eot');
    src: url('../fonts/blockhead_fat.eot?#iefix') format('embedded-opentype'),
         url('../fonts/blockhead_fat.woff') format('woff'),
         url('../fonts/blockhead_fat.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Bob';
    src: url('../fonts/Bob.eot');
    src: url('../fonts/Bob.eot') format('embedded-opentype'),
         url('../fonts/Bob.woff') format('woff'),
         url('../fonts/Bob.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'BankGothicMdBTMedium';
    src: url('../fonts/bnkgothm.eot');
    src: url('../fonts/bnkgothm.eot?#iefix') format('embedded-opentype'),
         url('../fonts/bnkgothm.woff') format('woff'),
         url('../fonts/bnkgothm.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Bohema';
    src: url('../fonts/Bohema.eot');
    src: url('../fonts/Bohema.eot') format('embedded-opentype'),
         url('../fonts/Bohema.woff') format('woff'),
         url('../fonts/Bohema.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Calendas_Plus';
    src: url('../fonts/Calendas_Plus.eot');
    src: url('../fonts/Calendas_Plus.eot') format('embedded-opentype'),
         url('../fonts/Calendas_Plus.woff') format('woff'),
         url('../fonts/Calendas_Plus.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'CenturyGothic';
    src: url('../fonts/CenturyGothic.eot');
    src: url('../fonts/CenturyGothic.eot') format('embedded-opentype'),
         url('../fonts/CenturyGothic.woff') format('woff'),
         url('../fonts/CenturyGothic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BlockHeadBold';
    src: url('../fonts/blockhead_bold.eot');
    src: url('../fonts/blockhead_bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/blockhead_bold.woff') format('woff'),
         url('../fonts/blockhead_bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ChunkFive';
    src: url('../fonts/ChunkFive.eot');
    src: url('../fonts/ChunkFive.eot') format('embedded-opentype'),
         url('../fonts/ChunkFive.woff') format('woff'),
         url('../fonts/ChunkFive.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'CodePro';
    src: url('../fonts/CodePro.eot');
    src: url('../fonts/CodePro.eot') format('embedded-opentype'),
         url('../fonts/CodePro.woff') format('woff'),
         url('../fonts/CodePro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Construthinvism';
    src: url('../fonts/Construthinvism.eot');
    src: url('../fonts/Construthinvism.eot') format('embedded-opentype'),
         url('../fonts/Construthinvism.woff') format('woff'),
         url('../fonts/Construthinvism.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'EastLiftRegular';
    src: url('../fonts/east_lift.eot');
    src: url('../fonts/east_lift.eot?#iefix') format('embedded-opentype'),
         url('../fonts/east_lift.woff') format('woff'),
         url('../fonts/east_lift.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'CopprplGothBdBTBold';
    src: url('../fonts/copgothb.eot');
    src: url('../fonts/copgothb.eot?#iefix') format('embedded-opentype'),
         url('../fonts/copgothb.woff') format('woff'),
         url('../fonts/copgothb.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'CourierNewRegular';
    src: url('../fonts/cour.eot');
    src: url('../fonts/cour.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cour.woff') format('woff'),
         url('../fonts/cour.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Cylburn';
    src: url('../fonts/Cylburn.eot');
    src: url('../fonts/Cylburn.eot') format('embedded-opentype'),
         url('../fonts/Cylburn.woff') format('woff'),
         url('../fonts/Cylburn.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}     
@font-face {
    font-family: 'Dense';
    src: url('../fonts/Dense.eot');
    src: url('../fonts/Dense.eot') format('embedded-opentype'),
         url('../fonts/Dense.woff') format('woff'),
         url('../fonts/Dense.ttf') format('truetype');
    font-weight: normal;
    font-style: normal; 
}
@font-face {
    font-family: 'Dooodleista';
    src: url('../fonts/Dooodleista.eot');
    src: url('../fonts/Dooodleista.eot') format('embedded-opentype'),
         url('../fonts/Dooodleista.woff') format('woff'),
         url('../fonts/Dooodleista.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GammaRayMedium';
    src: url('../fonts/gammaray.eot');
    src: url('../fonts/gammaray.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gammaray.woff') format('woff'),
         url('../fonts/gammaray.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'EurostileRegular';
    src: url('../fonts/eurosti.eot');
    src: url('../fonts/eurosti.eot?#iefix') format('embedded-opentype'),
         url('../fonts/eurosti.woff') format('woff'),
         url('../fonts/eurosti.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'FirestarterRegular';
    src: url('../fonts/firestarter.eot');
    src: url('../fonts/firestarter.eot?#iefix') format('embedded-opentype'),
         url('../fonts/firestarter.woff') format('woff'),
         url('../fonts/firestarter.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Flex';
    src: url('../fonts/Flex.eot');
    src: url('../fonts/Flex.eot') format('embedded-opentype'),
         url('../fonts/Flex.woff') format('woff'),
         url('../fonts/Flex.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GearedSlab';
    src: url('../fonts/GearedSlab.eot');
    src: url('../fonts/GearedSlab.eot') format('embedded-opentype'),
         url('../fonts/GearedSlab.woff') format('woff'),
         url('../fonts/GearedSlab.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Geogram';
    src: url('../fonts/Geogram.eot');
    src: url('../fonts/Geogram.eot') format('embedded-opentype'),
         url('../fonts/Geogram.woff') format('woff'),
         url('../fonts/Geogram.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GoodDog';
    src: url('../fonts/GoodDog.eot');
    src: url('../fonts/GoodDog.eot') format('embedded-opentype'),
         url('../fonts/GoodDog.woff') format('woff'),
         url('../fonts/GoodDog.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'GrandHotel';
    src: url('../fonts/GrandHotel.eot');
    src: url('../fonts/GrandHotel.eot') format('embedded-opentype'),
         url('../fonts/GrandHotel.woff') format('woff'),
         url('../fonts/GrandHotel.ttf') format('truetype'),
         url('../fonts/GrandHotel.svg#GrandHotel') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Habana';
    src: url('../fonts/Habana.eot');
    src: url('../fonts/Habana.eot') format('embedded-opentype'),
         url('../fonts/Habana.woff') format('woff'),
         url('../fonts/Habana.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Haymaker';
    src: url('../fonts/Haymaker.eot');
    src: url('../fonts/Haymaker.eot') format('embedded-opentype'),
         url('../fonts/Haymaker.woff') format('woff'),
         url('../fonts/Haymaker.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Higher';
    src: url('../fonts/Higher.eot');
    src: url('../fonts/Higher.eot') format('embedded-opentype'),
         url('../fonts/Higher.woff') format('woff'),
         url('../fonts/Higher.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HirukoBlackAlternate';
    src: url('../fonts/hirukoblackalternate.eot');
    src: url('../fonts/hirukoblackalternate.eot?#iefix') format('embedded-opentype'),
         url('../fonts/hirukoblackalternate.woff') format('woff'),
         url('../fonts/hirukoblackalternate.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Atama__GRegular';
    src: url('../fonts/gomarice_atama.eot');
    src: url('../fonts/gomarice_atama.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gomarice_atama.woff') format('woff'),
         url('../fonts/gomarice_atama.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Kilogram';
    src: url('../fonts/Kilogram.eot');
    src: url('../fonts/Kilogram.eot') format('embedded-opentype'),
         url('../fonts/Kilogram.woff') format('woff'),
         url('../fonts/Kilogram.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LEADvilleASTROnautInlineRg';
    src: url('../fonts/leadvilleastronautinline.eot');
    src: url('../fonts/leadvilleastronautinline.eot?#iefix') format('embedded-opentype'),
         url('../fonts/leadvilleastronautinline.woff') format('woff'),
         url('../fonts/leadvilleastronautinline.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'KeeponTruckinRegular';
    src: url('../fonts/keepontruckin.eot');
    src: url('../fonts/keepontruckin.eot?#iefix') format('embedded-opentype'),
         url('../fonts/keepontruckin.woff') format('woff'),
         url('../fonts/keepontruckin.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'KlinicSlabBook';
    src: url('../fonts/KlinicSlabBook.eot');
    src: url('../fonts/KlinicSlabBook.eot') format('embedded-opentype'),
         url('../fonts/KlinicSlabBook.woff') format('woff'),
         url('../fonts/KlinicSlabBook.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Komoda';
    src: url('../fonts/Komoda.eot');
    src: url('../fonts/Komoda.eot') format('embedded-opentype'),
         url('../fonts/Komoda.woff') format('woff'),
         url('../fonts/Komoda.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Lavanderia';
    src: url('../fonts/Lavanderia.eot');
    src: url('../fonts/Lavanderia.eot') format('embedded-opentype'),
         url('../fonts/Lavanderia.woff') format('woff'),
         url('../fonts/Lavanderia.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Linny';
    src: url('../fonts/Linny.eot');
    src: url('../fonts/Linny.eot') format('embedded-opentype'),
         url('../fonts/Linny.woff') format('woff'),
         url('../fonts/Linny.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Lobster';
    src: url('../fonts/Lobster.eot');
    src: url('../fonts/Lobster.eot') format('embedded-opentype'),
         url('../fonts/Lobster.woff') format('woff'),
         url('../fonts/Lobster.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Makhina';
    src: url('../fonts/Makhina.eot');
    src: url('../fonts/Makhina.eot') format('embedded-opentype'),
         url('../fonts/Makhina.woff') format('woff'),
         url('../fonts/Makhina.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MasterforceRegular';
    src: url('../fonts/masterforce.eot');
    src: url('../fonts/masterforce.eot?#iefix') format('embedded-opentype'),
         url('../fonts/masterforce.woff') format('woff'),
         url('../fonts/masterforce.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Metropolis';
    src: url('../fonts/Metropolis.eot');
    src: url('../fonts/Metropolis.eot') format('embedded-opentype'),
         url('../fonts/Metropolis.woff') format('woff'),
         url('../fonts/Metropolis.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LEADvilleASTROnautSystemRg';
    src: url('../fonts/leadvilleastronautsystem.eot');
    src: url('../fonts/leadvilleastronautsystem.eot?#iefix') format('embedded-opentype'),
         url('../fonts/leadvilleastronautsystem.woff') format('woff'),
         url('../fonts/leadvilleastronautsystem.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Molesk';
    src: url('../fonts/Molesk.eot');
    src: url('../fonts/Molesk.eot') format('embedded-opentype'),
         url('../fonts/Molesk.woff') format('woff'),
         url('../fonts/Molesk.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Moonshiner';
    src: url('../fonts/Moonshiner.eot');
    src: url('../fonts/Moonshiner.eot') format('embedded-opentype'),
         url('../fonts/Moonshiner.woff') format('woff'),
         url('../fonts/Moonshiner.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NexaLight';
    src: url('../fonts/NexaLight.eot');
    src: url('../fonts/NexaLight.eot') format('embedded-opentype'),
         url('../fonts/NexaLight.woff') format('woff'),
         url('../fonts/NexaLight.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NexaBold';
    src: url('../fonts/NexaBold.eot');
    src: url('../fonts/NexaBold.eot') format('embedded-opentype'),
         url('../fonts/NexaBold.woff') format('woff'),
         url('../fonts/NexaBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OldeEnglishRegular';
    src: url('../fonts/oldeenglish.eot');
    src: url('../fonts/oldeenglish.eot?#iefix') format('embedded-opentype'),
         url('../fonts/oldeenglish.woff') format('woff'),
         url('../fonts/oldeenglish.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NovaMonoRegular';
    src: url('../fonts/novamono.eot');
    src: url('../fonts/novamono.eot?#iefix') format('embedded-opentype'),
         url('../fonts/novamono.woff') format('woff'),
         url('../fonts/novamono.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NymphsHandwritingRegular';
    src: url('../fonts/nymphshandwriting.eot');
    src: url('../fonts/nymphshandwriting.eot?#iefix') format('embedded-opentype'),
         url('../fonts/nymphshandwriting.woff') format('woff'),
         url('../fonts/nymphshandwriting.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OstrichSans';
    src: url('../fonts/OstrichSans.eot');
    src: url('../fonts/OstrichSans.eot') format('embedded-opentype'),
         url('../fonts/OstrichSans.woff') format('woff'),
         url('../fonts/OstrichSans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Parisish';
    src: url('../fonts/Parisish.eot');
    src: url('../fonts/Parisish.eot') format('embedded-opentype'),
         url('../fonts/Parisish.woff') format('woff'),
         url('../fonts/Parisish.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'QuadrantaRegular';
    src: url('../fonts/quadranta-regular.eot');
    src: url('../fonts/quadranta-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/quadranta-regular.woff') format('woff'),
         url('../fonts/quadranta-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PlanetBenson2Regular';
    src: url('../fonts/planetbe.eot');
    src: url('../fonts/planetbe.eot?#iefix') format('embedded-opentype'),
         url('../fonts/planetbe.woff') format('woff'),
         url('../fonts/planetbe.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'QuadrantaBold';
    src: url('../fonts/quadranta-bold.eot');
    src: url('../fonts/quadranta-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/quadranta-bold.woff') format('woff'),
         url('../fonts/quadranta-bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'RoddenberryRegular';
    src: url('../fonts/roddenberry.eot');
    src: url('../fonts/roddenberry.eot?#iefix') format('embedded-opentype'),
         url('../fonts/roddenberry.woff') format('woff'),
         url('../fonts/roddenberry.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'QuadrantaRegular';
    src: url('../fonts/quadranta-regular.eot');
    src: url('../fonts/quadranta-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/quadranta-regular.woff') format('woff'),
         url('../fonts/quadranta-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Reckoner';
    src: url('../fonts/Reckoner.eot');
    src: url('../fonts/Reckoner.eot') format('embedded-opentype'),
         url('../fonts/Reckoner.woff') format('woff'),
         url('../fonts/Reckoner.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RobofanFreeRegular';
    src: url('../fonts/robofan_free.eot');
    src: url('../fonts/robofan_free.eot?#iefix') format('embedded-opentype'),
         url('../fonts/robofan_free.woff') format('woff'),
         url('../fonts/robofan_free.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'StonehengeRegular';
    src: url('../fonts/stonehenge.eot');
    src: url('../fonts/stonehenge.eot?#iefix') format('embedded-opentype'),
         url('../fonts/stonehenge.woff') format('woff'),
         url('../fonts/stonehenge.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SevenSwordsmenBBRegular';
    src: url('../fonts/sevesbrg.eot');
    src: url('../fonts/sevesbrg.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sevesbrg.woff') format('woff'),
         url('../fonts/sevesbrg.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'SFSlapstickComicRegular';
    src: url('../fonts/sfslapstickcomic.eot');
    src: url('../fonts/sfslapstickcomic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sfslapstickcomic.woff') format('woff'),
         url('../fonts/sfslapstickcomic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'unlikeEdgeRegular';
    src: url('../fonts/unlikeedge.eot');
    src: url('../fonts/unlikeedge.eot?#iefix') format('embedded-opentype'),
         url('../fonts/unlikeedge.woff') format('woff'),
         url('../fonts/unlikeedge.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'VTCSuperMarketSaleDisplayRg';
    src: url('../fonts/vtcsupermarketsaledisplay.eot');
    src: url('../fonts/vtcsupermarketsaledisplay.eot?#iefix') format('embedded-opentype'),
         url('../fonts/vtcsupermarketsaledisplay.woff') format('woff'),
         url('../fonts/vtcsupermarketsaledisplay.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'thebubblelettersRegular';
    src: url('../fonts/the_bubble_letters.eot');
    src: url('../fonts/the_bubble_letters.eot?#iefix') format('embedded-opentype'),
         url('../fonts/the_bubble_letters.woff') format('woff'),
         url('../fonts/the_bubble_letters.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'VTCSuperMarketSaleRegular';
    src: url('../fonts/vtcsupermarketsaleregular.eot');
    src: url('../fonts/vtcsupermarketsaleregular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/vtcsupermarketsaleregular.woff') format('woff'),
         url('../fonts/vtcsupermarketsaleregular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'TrackType';
    src: url('../fonts/TrackType.eot');
    src: url('../fonts/TrackType.eot') format('embedded-opentype'),
         url('../fonts/TrackType.woff') format('woff'),
         url('../fonts/TrackType.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'TrueLove';
    src: url('../fonts/TrueLove.eot');
    src: url('../fonts/TrueLove.eot') format('embedded-opentype'),
         url('../fonts/TrueLove.woff') format('woff'),
         url('../fonts/TrueLove.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'WoodShop';
    src: url('../fonts/WoodShop.eot');
    src: url('../fonts/WoodShop.eot') format('embedded-opentype'),
         url('../fonts/WoodShop.woff') format('woff'),
         url('../fonts/WoodShop.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'WoodWarrior';
    src: url('../fonts/WoodWarrior.eot');
    src: url('../fonts/WoodWarrior.eot') format('embedded-opentype'),
         url('../fonts/WoodWarrior.woff') format('woff'),
         url('../fonts/WoodWarrior.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'VersionType';
    src: url('../fonts/VersionType.eot');
    src: url('../fonts/VersionType.eot') format('embedded-opentype'),
         url('../fonts/VersionType.woff') format('woff'),
         url('../fonts/VersionType.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Vincent';
    src: url('../fonts/Vincent.eot');
    src: url('../fonts/Vincent.eot') format('embedded-opentype'),
         url('../fonts/Vincent.woff') format('woff'),
         url('../fonts/Vincent.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
