/*==========*/
/*custom CSS*/
/*==========*/
p[align=center] {
    display: none;
}

#main {
    padding: 0px!important;
}
.log-in-logo {
    float: left;
}
span.welcome {
    float: right;
    margin-right: 30px;
    font-size: 14px;
    color: #777676;
    padding: 4px 0px;
}
.min-height{
    background: #D3FBFF!important;
    min-height: 70px;
}
.min-height img {
    width: 200px;
    margin: 10px 0px;
}
.gap-top {
    height: 30px;
    background: #B3EAFF;
    margin-left: -30px;
    margin-right: -30px;
    margin-bottom: 5px;
    margin-top: -3px;
}
.gap {
    height: 22px;
}
#wrapper {
    height:100%;
}

#main{
    width:100%;
    height:100%;
    min-height:100%; 
 }
 .reg-form {
    width: 75%;
    margin: 0px auto;
}
.container {
	width: 100%;
}
.select {
	width: 100%;
    height: 50px;
}
.form-title {
	text-transform: uppercase;
    margin-bottom: 20px!important;
}
.submit {
	padding: 10px 40px;
    background: #1A80B6;
    color: #fff;
    border-radius: 5px;
    border: none;
    width: 100%;
    height: 50px;
    font-size: 16px;
}
.err-container {
	background: #FFE1E1;
    border-left: 3px solid #F5A5A5;
    display: none;
}
.err-msg {
    padding: 10px 10px;
    font-size: 14px;
    color: #985252;
}
.dash-nav{
    list-style: none;
    margin: 0px;
    padding: 0px;
    background: #585454;
    height: 778px;
    padding-top: 28px;
    position: relative;
}
ul.dash-nav li {
    border-bottom: 1px solid #676767;
    padding: 15px 0px;
    text-align: center;
    color: #D6D6D6;
    font-size: 14px;
    cursor: pointer; 
}
.sub-container {
    /*margin-left: -30px;*/
  /*  margin-right: -30px;*/
    margin-top: -22px;
    min-height: 86.7vh;
    background: #585454;
}
ul.dash-nav:before {
    content: '';
    height: 1px;
    width: 100%;
    background: #676767;
    position: absolute;
    top: 1;
}
ul.dash-nav li:hover {
    background: #D3FBFF;
    color: #585454;
}
.dash-title-holder {
    height: 25px;
    margin-top: 20px;
}
.dash-title-holder h2 {
    float: left;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.dash-title-holder ul {
    float: right;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}
.dash-title-holder ul li {
    display: inline;
    padding: 10px 10px;
    font-size: 14px;
    cursor: pointer;
}
.dash-title-holder ul li:hover {
    background: #D3FBFF;
    color: #1E419A;
}
.item-holder {
    border: 3px #ccc solid;
    margin: 0px 0px 5px 0px!important;
    padding: 5px;
}
ul.item-info-row {
    list-style-type: none;
    padding: 0px;
}
li.item-info-col {
    display: inline;
    float: left;
    width: 33%;
}
li.item-info-col ul {
   /* list-style-type: none;*/
    padding: 0px;
}
table.table-info td {
    width: 33%;
}
table.table-info {
    width: 100%;
}
p.approval {
    border-left: 3px solid #00B131;
    padding: 5px 10px;
    background: #E1F5FD;
    margin: 5px 0px;
}
.shadow-wrap {
    box-shadow: 0px 0px 5px #888888;
}
.profile-left {
    padding: 0px;
    border-top: 2px solid #585454;
}
.row-fix {
    margin: 0px;
}
.profile-left p {
    font-size: 13px;
    font-weight: bold;
    color: #585454;
    margin-left: 10px;
}
.layer1 {
    margin-bottom: 10px;
}
.layer1 p {
    margin: 0px;
    padding: 10px;
    font-size: 14px;
    color: #585454;
    cursor: pointer;
}
.layer1 div {
    padding: 0px 10px;
    padding-bottom: 10px;
}
.layer1 hr {
    margin-top: 0px;
}
p.form-button {
    margin: 0px;
    padding: 0px;
    text-align: center;
    cursor: default;
}
p.form-button .save-button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background: #DDF3FB;
    color: #585454;
    cursor: pointer;
}
p.form-button .save-button:hover {
    background: #00ADEF;
    color: #fff;
}
p.isEmail {
    font-family: 'PT Sans Narrow';
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 10px;
}
span.email-checker {
    margin-left: 10px;
    font-size: 10px;
    font-style: italic;
}
p.error {
    padding: 5px 10px;
    background: #FFD9D9;
    margin: 0px 10px;
    color: #FF9393;
    border-left: 3px solid #FF9393;
    display: none;
}
.select {
    -webkit-appearance: menulist-button!important;
}
.notif-container ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
.notif-container h3 {
    margin: 0px;
}
.single-notif {
    padding: 10px 15px;
}
span.time-ago {
    font-size: 10px;
    font-weight: normal;
    font-style: italic;
}
.form-group label {
    font-size: 13px;
    font-weight: bold;
}
textarea#addpost {
    border: 1px solid;
}
.text-area iframe {
    border: 1px solid #CECECE;
    border-right: 2px solid #CECECE;
}
input#form-title {
    height: auto!important;
    font-size: 18px!important;
    padding: 5px!important;
    color: #585454;
}
.comment-list ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
.report-box {
    border-bottom: 1px dotted;
}
.comment-list li {
    margin-bottom: 5px;
    background: #F1FBFC;
    padding: 10px;
}
.comment-list li {
    margin-bottom: 10px;
    background: #F1FBFC;
    padding: 10px;
}
/*.comment-list {
    border-bottom: 2px solid #E6E6E6;
    padding-bottom: 5px;
}*/
.comment-list li {
    margin-bottom: 0px;
    background: #F1FBFC;
    padding: 10px;
}
.comment-editor textarea {
    border: 0px;
    resize: none;
    padding: 10px;
    outline: none;
    overflow: auto;
    color: #585454;
    min-height: 40px;
    font-size: 14px;
}
.comment-editor {
    margin-top: 10px;
    border: 2px solid #E2E2E2;
    border-radius: 5px;
    background: #fff;
    min-height: 40px;
}
.comment-editor input[name=submit] {
    border: none;
    background: none;
    width: 7%;
    padding: 10px 0px;
    color: #585454;
    cursor: pointer;
    float: right;
    border-left: solid #E8E8E8;
    height: 40px;
}
.hiddendiv {
    display: none;
    white-space: pre-wrap;
    width: 500px;
    min-height: 40px;
    font-family: Arial, sans-serif;
    font-size: 13px;
    padding: 5px;
    word-wrap: break-word;
}
.single-comment img {
    float: left;
    margin-right: 10px;
     width: 50px;
}
.single-comment p {
    margin: 0px;
    font-size: 14px;
    text-transform: capitalize;
    color: #0064B2;
}
.white {
    background: #ffffff!important;
    min-height: 86.7vh;
}
.reply-container {
    background: #F1FBFC;
    padding: 10px;
}
.reply-container h3 {
    margin: 0px;
    padding-bottom: 5px;
    border-bottom: 1px solid #E8E8E8;
}
.single-comment {
    min-height: 60px;
    border-bottom: 1px solid #E2E2E2;
}
.nav-wrap {
    float: right;
    margin-top: 10px;
    margin-right: -30px;
    padding-right: 30px;
    padding-left: 30px;
    height: 50px;
    font-family: 'Century Gothic';
    font-weight: bold;
}
ul.dash-custom-nav {
    list-style-type: none;
    padding: 0px;
    margin-top: 15px;
    font-size: 14px;
}
ul.dash-custom-nav li {
    display: inline;
}
ul.dash-custom-nav li a {
    padding: 27px 15px;
    color: #757575;
}
.dash-active {
    color: #17469C!important;
    background: #B3EAFF;
}
ul.dash-custom-nav li a:hover {
    color: #1D4199;
}
.order-container h2 {
    margin: 0px;
    background: #06406D;
    color: #fff;
    padding: 10px 15px;
}
.details-container {
    /*border: 1px solid #6D6C6C;*/
    padding: 10px;
}
.no-overflow {
    overflow: hidden;
}
table.tbl-info {
    margin-bottom: 10px;
}
.order-container {
    border: 1px solid #5D5D5D;
    margin-bottom: 10px;
}
.table-1 table th {
    padding: 5px 10px;
    background: #021550;
    border: 1px solid #363942;
    color: #FFF;
}
.table-1 td {
    vertical-align: top;
}
a.orders {
    font-size: 12px;
    font-weight: bold;
}
td.dates p {
    margin: 0px;
    font-size: 12px;
    font-weight: bolder;
}
td.dates span {
    font-size: 11px;
    font-style: italic;
}
table.total {
    border: none;
    width: 100%;
    background: none;
    box-shadow: none;
}
table.total td {
    border: none;
    background: none;
    padding: 0px;
    margin: 0px;
}
tr.grand-total {
    font-weight: bold;
    font-size: 11px;
}
table.orders tr:hover {
    background: #C4ECFB;
}
table.total tr {
    background: none!important;
}
.badge {
    background: #F00;
    padding: 5px 8px;
    color: #fff;
    border-radius: 50%;
    display: none;
}