/*==========*/
/*custom CSS*/
/*==========*/
p[align=center] {
    display: none;
}
#main {
    padding: 0px!important;
}
.log-in-logo {
    float: left;
}
.welcome p {
    color: #565555;
    float: right;
    font-size: 14px;
    margin: 26px 0px;
    text-transform: UPPERCASE;
}
.min-height{
    background: #D3FBFF!important;
    min-height: 70px;
}
.min-height img {
    width: 200px;
    margin: 10px 0px;
}
.gap-top {
    height: 20px;
}
.gap {
    height: 90px;
}
#wrapper {
    height:100%;
}

#main{
    width:100%;
    height:100%;
    min-height:100%; 
 }
 .reg-form {
    width: 75%;
    margin: 0px auto;
}
.container {
	width: 100%;
}
.select {
	width: 100%;
    height: 50px;
}
.form-title {
	text-transform: uppercase;
    margin-bottom: 20px!important;
}
.submit {
	padding: 10px 40px;
    background: #1A80B6;
    color: #fff;
    border-radius: 5px;
    border: none;
    width: 100%;
    height: 50px;
    font-size: 16px;
}
.err-container {
	background: #FFE1E1;
    border-left: 3px solid #F5A5A5;
    display: none;
}
.err-msg {
    padding: 10px 10px;
    font-size: 14px;
    color: #985252;
}
.dash-nav{
    list-style: none;
    margin: 0px;
    padding: 0px;
    background: #585454;
    height: 778px;
    padding-top: 28px;
    position: relative;
}
ul.dash-nav li {
    border-bottom: 1px solid #676767;
    padding: 15px 0px;
    text-align: center;
    color: #D6D6D6;
    font-size: 14px;
    cursor: pointer;
}
.sub-container {
    margin-left: -30px;
  /*  margin-right: -30px;*/
    margin-top: -22px;
}
ul.dash-nav:before {
    content: '';
    height: 1px;
    width: 100%;
    background: #676767;
    position: absolute;
    top: 1;
}
ul.dash-nav li:hover {
    background: #D3FBFF;
    color: #585454;
}
.welcome a:hover {
    color: #0065B3;
}
.welcome a {
    color: #585454!important;
}
.dash-title-holder {
    height: 25px;
}
.dash-title-holder h2 {
    float: left;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.dash-title-holder ul {
    float: right;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}
.dash-title-holder ul li {
    display: inline;
    padding: 10px 10px;
    font-size: 14px;
    cursor: pointer;
}
.dash-title-holder ul li:hover {
    background: #D3FBFF;
    color: #1E419A;
}
.item-holder {
    border: 3px #ccc solid;
    margin: 0px 0px 5px 0px!important;
    padding: 5px;
}
ul.item-info-row {
    list-style-type: none;
    padding: 0px;
}
li.item-info-col {
    display: inline;
    float: left;
    width: 33%;
}
li.item-info-col ul {
   /* list-style-type: none;*/
    padding: 0px;
}
table.table-info td {
    width: 33%;
}
table.table-info {
    width: 100%;
}
p.approval {
    border-left: 3px solid #00B131;
    padding: 5px 10px;
    background: #E1F5FD;
    margin: 5px 0px;
}
.shadow-wrap {
    box-shadow: 0px 0px 5px #888888;
}
.profile-left {
    padding: 0px;
    border-top: 2px solid #585454;
}
.row-fix {
    margin: 0px;
}
.profile-left p {
    font-size: 13px;
    font-weight: bold;
    color: #585454;
    margin-left: 10px;
}
.layer1 {
    margin-bottom: 10px;
}
.layer1 p {
    margin: 0px;
    padding: 10px;
    font-size: 14px;
    color: #585454;
    cursor: pointer;
}
.layer1 div {
    padding: 0px 10px;
    padding-bottom: 10px;
}
.layer1 hr {
    margin-top: 0px;
}