/*==========*/
/*custom CSS*/
/*==========*/
p[align=center] {
    display: none;
}

#main {
    padding: 0px!important;
}
.log-in-logo {
    float: left;
}
span.welcome {
    float: right;
    margin-right: 30px;
    font-size: 14px;
    color: #777676;
    padding: 4px 0px;
}
.min-height{
    background: #D3FBFF!important;
    min-height: 70px;
}
.min-height img {
    width: 200px;
    margin: 10px 0px;
}
.gap-top {
    height: 30px;
    background: #B3EAFF;
    margin-left: -30px;
    margin-right: -30px;
    margin-bottom: 5px;
    margin-top: -3px;
}
.gap {
    height: 22px;
}
#wrapper {
    height:100%;
}

#main{
    width:100%;
    height:100%;
    min-height:100%; 
 }
 .reg-form {
    width: 75%;
    margin: 0px auto;
}
.container {
	width: 100%;
}
.select {
	width: 100%;
    height: 50px;
}
.form-title {
	text-transform: uppercase;
    margin-bottom: 20px!important;
}
.submit, #create-user {
	padding: 10px 40px;
    background: #1A80B6;
    color: #fff;
    border-radius: 5px;
    border: none;
    width: 100%;
    height: 50px;
    font-size: 16px;
    cursor: pointer;
}
.err-container {
	background: #FFE1E1;
    border-left: 3px solid #F5A5A5;
    display: none;
}
.err-msg {
    padding: 10px 10px;
    font-size: 14px;
    color: #5D5D5D;
}
.dash-nav{
    list-style: none;
    margin: 0px;
    padding: 0px;
    background: #585454;
    height: 778px;
    padding-top: 28px;
    position: relative;
}
ul.dash-nav li {
    border-bottom: 1px solid #676767;
    padding: 15px 0px;
    text-align: center;
    color: #D6D6D6;
    font-size: 14px;
    cursor: pointer; 
}
.sub-container {
    /*margin-left: -30px;*/
  /*  margin-right: -30px;*/
    margin-top: -22px;
    min-height: 86.7vh;
   /* background: #585454;*/
}
ul.dash-nav:before {
    content: '';
    height: 1px;
    width: 100%;
    background: #676767;
    position: absolute;
    top: 1;
}
ul.dash-nav li:hover {
    background: #D3FBFF;
    color: #585454;
}
.dash-title-holder {
    height: 25px;
    margin-top: 20px;
}
.dash-title-holder h2 {
    float: left;
    padding-bottom: 0px;
    margin-bottom: 0px;
}
.dash-title-holder ul {
    float: right;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}
.dash-title-holder ul li {
    display: inline;
    padding: 10px 10px;
    font-size: 14px;
    cursor: pointer;
}
.dash-title-holder ul li:hover {
    background: #D3FBFF;
    color: #1E419A;
}
.item-holder {
    border: 3px #ccc solid;
    margin: 0px 0px 5px 0px!important;
    padding: 5px;
}
ul.item-info-row {
    list-style-type: none;
    padding: 0px;
}
li.item-info-col {
    display: inline;
    float: left;
    width: 33%;
}
li.item-info-col ul {
   /* list-style-type: none;*/
    padding: 0px;
}
table.table-info td {
    width: 33%;
}
table.table-info {
    width: 100%;
}

.shadow-wrap {
    box-shadow: 0px 0px 5px #888888;
}
.profile-left {
    padding: 0px;
    border-top: 2px solid #585454;
}
.row-fix {
    margin: 0px;
}
.profile-left p {
    font-size: 13px;
    font-weight: bold;
    color: #585454;
    margin-left: 10px;
}
.layer1 {
    margin-bottom: 10px;
}
.layer1 p {
    margin: 0px;
    padding: 10px;
    font-size: 14px;
    color: #585454;
    cursor: pointer;
}
.layer1 div {
    padding: 0px 10px;
    padding-bottom: 10px;
}
.layer1 hr {
    margin-top: 0px;
}
p.form-button {
    margin: 0px;
    padding: 0px;
    text-align: center;
    cursor: default;
}
p.form-button .save-button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background: #DDF3FB;
    color: #585454;
    cursor: pointer;
}
p.form-button .save-button:hover {
    background: #00ADEF;
    color: #fff;
}
p.isEmail {
    font-family: 'PT Sans Narrow';
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 10px;
}
span.email-checker {
    margin-left: 10px;
    font-size: 10px;
    font-style: italic;
}
p.error {
    padding: 5px 10px;
    background: #FFD9D9;
    margin: 0px 10px;
    color: #FF9393;
    border-left: 3px solid #FF9393;
    display: none;
}
.select {
    -webkit-appearance: menulist-button!important;
}
.notif-container ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
.notif-container h3 {
    margin: 0px;
}
.single-notif {
    padding: 10px 15px;
}
span.time-ago {
    font-size: 10px;
    font-weight: normal;
    font-style: italic;
}
.form-group label {
    font-size: 13px;
    font-weight: bold;
}
textarea#addpost {
    border: 1px solid;
}
.text-area iframe {
    border: 1px solid #CECECE;
    border-right: 2px solid #CECECE;
}
input#form-title {
    height: auto!important;
    font-size: 18px!important;
    padding: 5px!important;
    color: #585454;
}
.comment-list ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
.report-box {
    border-bottom: 1px dotted;
}
.comment-list li {
    margin-bottom: 5px;
    background: none;
    padding: 10px;
}
.comment-editor textarea {
    border: 0px;
    resize: none;
    padding: 10px;
    outline: none;
    overflow: auto;
    color: #585454;
    min-height: 40px;
    font-size: 14px;
    background: none;
}
.comment-editor form {
    position: relative;
}
.comment-editor {
    margin-top: 10px;
    border: 2px solid #256077;
    border-radius: 5px;
    background: none;
    min-height: 40px;
}
.comment-editor input[name=submit] {
    border: none;
    background: none;
    width: 10%;
    padding: 10px 0px;
    color: #585454;
    cursor: pointer;
    float: right;
    border-left: 2px solid #256077;
    height: 40px;
    position: absolute;
    right: 0;
    top: 0;
}
.hiddendiv {
    display: none;
    white-space: pre-wrap;
    width: 500px;
    min-height: 40px;
    font-family: Arial, sans-serif;
    font-size: 13px;
    padding: 5px;
    word-wrap: break-word;
}
.single-comment img {
    float: left;
    margin-right: 10px;
     width: 50px;
}
.single-comment p {
    margin: 0px;
    font-size: 14px;
    text-transform: capitalize;
    color: #0064B2;
}
.white {
    background: #ffffff!important;
    min-height: 86.7vh;
}
.reply-container {
    background: #B3EAFF;
    padding: 10px;
}
.reply-container h3 {
    margin: 0px;
    padding-bottom: 5px;
    border-bottom: 1px solid #A7E4FB;
}
.single-comment {
    min-height: 60px;
    border-bottom: 1px solid #A7E4FB;
}
.nav-wrap {
    float: right;
    margin-top: 10px;
    margin-right: -30px;
    padding-right: 30px;
    padding-left: 30px;
    height: 50px;
    font-family: 'Century Gothic';
    font-weight: bold;
}
ul.dash-custom-nav {
    list-style-type: none;
    padding: 0px;
    margin-top: 15px;
    font-size: 14px;
}
ul.dash-custom-nav li {
    display: inline;
}
ul.dash-custom-nav li a {
    padding: 27px 15px;
    color: #757575;
}
.dash-active {
    color: #17469C!important;
    background: #B3EAFF;
}
ul.dash-custom-nav li a:hover {
    color: #1D4199;
}
.order-container h2 {
    margin: 0px;
    background: #06406D;
    color: #fff;
    padding: 10px 15px;
}
.details-container {
    /*border: 1px solid #6D6C6C;*/
    padding: 10px;
}
.no-overflow {
    overflow: hidden;
}
table.tbl-info {
    margin-bottom: 10px;
}
.order-container {
    border: 1px solid #5D5D5D;
    margin-bottom: 10px;
}
.table-1 table th {
    padding: 5px 10px;
    background: #021550;
    border: 1px solid #363942;
    color: #FFF;
}
.table-1 td {
    vertical-align: top;
}
a.orders {
    font-size: 12px;
    font-weight: bold;
    position: relative;
}
td.dates p {
    margin: 0px;
    font-size: 12px;
    font-weight: bolder;
}
td.dates span {
    font-size: 11px;
    font-style: italic;
}
table.total {
    border: none;
    width: 100%;
    background: none;
    box-shadow: none;
}
table.total td {
    border: none;
    background: none;
    padding: 0px;
    margin: 0px;
}
tr.grand-total {
    font-weight: bold;
    font-size: 11px;
}
table.orders tr:hover {
    background: #C4ECFB;
}
table.total tr {
    background: none!important;
}
.badge {
    background: #F00;
    padding: 0px 7px;
    color: #fff;
    border-radius: 50%;
    display: none;
    font-weight: lighter;
    font-size: 8px;
    position: absolute;
    top: -6px;
    left: -20px;
}
a.edit-order {
    background: #00ADEE;
    color: #F3F3F3;
    margin-left: 5px;
    font-size: 15px;
    padding: 3px 10px;
    border-radius: 2px;
    font-weight: normal;
    cursor: pointer;
}
a.edit-order:hover {
    background: #1D429A;
    color: #F3F3F3;
}
.artwork img {
    width: 100px;
    border: 1px solid;
    height: 100px;
    margin-right: 10px;
}
.artwork {
    background: #B3EAFF;
    padding: 10px;
    margin-bottom: 15px;
    border: dashed 2px #656565;
}
.artwork p {
    margin: 0px;
    font-size: 13px;
    font-weight: bold;
    color: #404040;
}
p.status {
    margin: 0px;
    font-size: 11px;
    color: #4C4B4B;
}
.artwork center,.post-order-notes center {
    margin: 10px 0px;
}
.artwork button, .post-order-notes button {
    padding: 10px 70px;
    border: 1px dashed;
    background: none;
    border-radius: 5px;
    color: #313131;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 5px;
}
.file {
    display: none;
}
.file img {
    float: left;
}
.img-holder {
    float: left;
    position: relative;
}
.img-holder p {
    font-weight: normal;
    text-align: center;
}
.remove-file {
    position: absolute;
    cursor: pointer;
    background: red;
    color: #fff;
    width: 14px;
    height: 14px;
    text-align: center;
    font-size: 9px;
    border-radius: 50%;
    line-height: 13px;
    text-indent: 1px;
    right: 14px;
    top: 3px;
    display: none;
}
.img-holder:hover .remove-file{
    display: inline;
}
.add-btn {
    height: 100px;
    margin-top: 0px!important;
    width: 100px;
    padding: 10px!important;
}
.artwork-title {
    margin-top: 1.5em;
    margin-bottom: 5px;
}
.artwork-title h3 {
    margin: 0px;
}
a.save-artwork, .edit-notes {
    background: #00ADEE;
    color: #FFFFFF;
    margin-left: 5px;
    font-size: 14px;
    padding: 3px 10px;
    border-radius: 2px;
    font-weight: normal;
    cursor: pointer;
    /* text-transform: lowercase; */
    padding-bottom: 3px;
    font-family: Arial, Helvetica, sans-serif;
  /*  display: none;*/
}
div#wristband-builder-content {
    margin-top: 40px;
}
.post-order-notes {
    background: #F1FBFC;
    padding: 10px;
    border: dashed 2px #656565;
}
.note-title {
    color: #484747;
}
.note-content {
    width: 100%;
    color: #002F58;
    margin: 1px 0;
    outline: none;
    border: none;
    background: none!important;
    resize: none;   
}
.notes h3 {
    margin: 0px 0px -5px 0px;
}
.note-action-div {
    float: right;
}
.admin-tab {
    margin-top: 30px;
    margin-left: 0px;
    margin-right: 0px;
    border-bottom: 5px solid #B3EAFF;
}
.ctab, .stab {
    background: #F1FBFC;
    text-align: center;
    font-size: 15px;
    text-transform: capitalize;
    padding: 10px;
    cursor: pointer;
    position: relative;
    color: #ccc;
}
.active-tab {
    background: #B3EAFF;
    border-color: #B3EAFF;
    border-right: 2px solid #B3EAFF;
    font-size: 16px;
    color: #3A3A3A;
}
.active-tab:before {
    position: absolute;
    content: '';
    background: #B3EAFF;
    width: 100%;
    height: 10px;
    top: -10px;
    left: 0px;
    border: 1px solid #B3EAFF;
    border-radius: 10px 10px 0px 0px;
}
.admin-tab-content {
    background: #B3EAFF;
    margin: 0px;
    padding-bottom: 10px;
    margin-top: 15px;
}
.notes {
    background: none;
    width: 100%;
    padding: 5px 10px;
}
span.note-date {
    font-size: 10px;
    font-style: italic;
    color: #9E9E9E;
}
input.note-title {
    background: none!important;
    color: #000!important;
    border: none;
    padding: 0px 5px;
    font-size: 15px;
    font-weight: bold;
    outline: none;
}
.btn {
    font-size: 10px;
    font-weight: lighter;
    margin-left: 2px;
    background: #B3EAFF;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}
.order-edit {
    padding: 0px;
}
.reorder {
    padding: 0px;
}
.reorder div {
    float: right;
}
.btn-order {
    float: right;
    padding: 10px 15px;
    background: #213F99;
    color: #fff;
    margin: 10px 0px 5px 5px;
    cursor: pointer;
}
.btn-order:hover {
    background: #B3EAFF;
    color: #3A3A3A;
}
.box {
    background: #F1FBFC;
    padding: 0px;
    border-left: 3px solid #B3EAFF;
    margin: 10px 0px;
}
.admin-reg {
    margin: 10px auto;
    padding: 0px!important;
}
.reg-label {
    margin-left: 30px;
    font-size: 14px;
    color: #BBBBBB;
}
.form-control {
    color: #000!important;
}
.suc-container {
    background: #D3FBFF;
    border-left: 3px solid #1A80B6;
    display: none;
}
.box span {
    margin-left: 10px;
}
.valid-email::before {
    content: '✓';
    position: absolute;
    right: 30px;
    top: 20px;
    background: #00D80B;
    padding: 0px 5px;
    color: #fff;
    border-radius: 50%;
}
.valid-email, .invalid-email {
    position: relative;
}

.invalid-email::before {
    content: '✕';
    right: 30px;
    top: 20px;
    background: #FF7272;
    padding: 0px 5px;
    color: #fff;
    border-radius: 50%;
    font-size: 11px;
    text-align: center;
    position: absolute;
}
.btn-default {
    display: inline-block;
    padding: 2px 10px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.btn-default:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}
.filter-user {
    margin-top: 15px;
}
.filter-user, .user-list {
    padding: 0px;
}
.search-users {
    float: right;
}
.filter {
    float: left;
}
.search-users input[type="text"] {
    width: 140px;
    margin: 0px;
    outline: none;
    color: #636363;
    height: 26px;
}
.filter label {
    font-size: 14px;
}
.filter select {
    height: 26px;
    width: 100px;
}
.comment-list {
    height: 300px;
    overflow-x: hidden;
}
.tc-box {
    border: 5px solid #256077;
}
.t-no {
    font-size: 17px;
    font-weight: bold;
}