.form-group .form-control {
    display:block;
    padding:5px 10px;
    width:100%;
    margin: 10px 0 0 0;
}


span.fusion-popover {
    padding: 0 5px;
    background-color: #9ABCF9;
    border-radius: 30px;
    font-size: 12px;
    color: #FFF;
}

.form-group {
    padding: 10px 5px;
}
span.char_left_wrapper {
    width:105px;
}

span.char_left_wrapper .input-text-xs {
    padding: 3px 2px;
}

input.input-text.input-text-xs {
    display: inline;
    width: 40px;

}

.button-xsmall {
    padding: 4px 5px;
    font-size: 12px;
}


p.form-row:after {
    content: '';
    clear: both;
    display: block;
}

.image-preview {
    text-align: center;
    height: 300px;
    vertical-align: middle;
}

.link-buttons {
    padding: 10px 0;
}


#additional-option-section  .fusion-column-wrapper {
    border: solid 1px #ECECEC;
    border-radius: 7px;
    padding: 5px;
    min-height: 150px;
    height: auto;
    background-color: rgba(255, 255, 255, 0.901961);
}


#additional-option-section .fusion-imageframe .img-responsive {
    height: 80px;
}


#additional-option-section .fusion-column-wrapper label {
    position: absolute;
    bottom: 10px;
    left: 5px;
    right: 5px;
    box-sizing: border-box;
}